<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wordle ue22 p24</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/script.js" defer></script>
</head>

<body>
    <div id="title">Wordle</div>
        <div id="intro">
            Vous avez 6 tentatives pour trouver le mot en anglais. Ce mot change tous les jours. Les mots doivent exister. Il faut valider à chaque ligne.
        </div>

        <div id="grid">
        </div>

    <div id="enter_button">
        <button type="button" class="btn btn-primary" id="enter">Valider</button>
    </div>
</body>